In [19]:
import pandas as pd
bc_books = pd.read_csv('data/books_in_bookcorpus.csv')

## Composition

In [20]:
# How many instances (books) are there in total?
print(len(bc_books))

11040

In [21]:
# Remove "adventure-all.txt" and "adventure-all.txt"
extra_books = bc_books[(bc_books.fname.str.contains('adventure-all.txt')|bc_books.fname.str.contains('romance-all.txt'))]
bc_books = bc_books[~(bc_books.fname.str.contains('adventure-all.txt')|bc_books.fname.str.contains('romance-all.txt'))]

In [22]:
len(bc_books)

11038

In [23]:
bc_books.word_count.sum()

811601031

In [27]:
extra_books

,location,category,fname,word_count,disk_usage
11038,./Adventure/adventure-all.txt,Adventure,adventure-all.txt,26717272,144M
11039,./Romance/romance-all.txt,Romance,romance-all.txt,204091636,1.0G

In [26]:
extra_books.word_count.sum() + bc_books.word_count.sum()

1042409939